.App {
  text-align: center;
}

.rate {
  list-style-type: none;
  border: 1px solid black;
  width: 50%;
  margin: 5px auto;
  padding: 0;
}
.rate li {
  display: inline-block;
  margin: 5px;
  font-weight: bold;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.green {
  color: green;
}